.swiper {
  width: 100%;
}
.swiper-slide {
    text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  object-fit: cover;
}
.swiper-pagination-bullet{
    display: none !important;
}

.fw-bold{
    font-weight: bolder !important;
}
.card:hover{
    color: blue;
    cursor: pointer;
}
.swiper{
    width: 80%;
}
@media only screen and (max-width:786px) { 
  
.swiper{
    width: 100% !important;
}
.card{
    width: 80% !important;
}
}
.card{
    box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
}
.swiper-button-next{
    color: black;
    margin-left: 10px !important;
    position: absolute !important;
}
.swiper-button-prev{
    color: black;
    margin-right: 10px !important;

    position: absolute !important;
}
.f-bold{
    width: 390px;
    font-weight: bolder;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
}
.slide2_btn{
    background-color: #593CFB;
    border: 1px solid #593CFB;
    width: 150px;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    }
.slide2_btn:hover{
background-color: #2d0af4;
transition: 0.5s border,0.5s background;

}
@media only screen and (max-width:786px) {

.text-center.mx-auto{
    background-color: red !important;
    width: 100%;
}
}
@media only screen and (max-width:1200px) { 
 .swiper{
   width: 100% !important;
 }
 .swiper-wrapper{
   width: 100% !important;
 }
}